absl-py
altair
annotated-types
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
decorator
defusedxml
docopt
executing
fastjsonschema
Flask
Flask-Cors
flatbuffers
fonttools
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
importlib_metadata
importlib_resources
itsdangerous
jax
jaxlib; python_version >= "3.7" and python_version < "3.11"
jedi
Jinja2
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
numpy; python_version >= "3.7" and python_version < "3.11"
oauthlib
opencv-python
packaging
pandas
pillow
protobuf
pycparser
pydantic
pydeck
Pygments
pytesseract
python-dateutil
pytz
requests
six
soupsieve
streamlit
typing_extensions
urllib3
# Windows-specific packages
pywin32; platform_system == "Windows"
pypiwin32; platform_system == "Windows"
WMI; platform_system == "Windows"
